@import url{http://fonts.googleapis.com/css?family=Oswald:400,700,300};
body {
	background-color: #F9F9F9;
}

.divcenter{
	width: 800px; 
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.boxposts li{
	width: 758px;
	height: auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #eee;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px; 
	overflow: hidden;
	border-bottom: 10px solid #eee;
	margin: 15px 0;
}

.thumb {
	width: 166px;
	height: 166px;
	float: left;
	border: 4px solid #eee;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px; 
	margin-right: 24px;
}

.content {
	float: left;
	width: 560px;
}

.content h1 {
	font-size: 30px;
	font-weight: bold;
	color: #666;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.content p {
	font-family: tahoma, "Trebuchet Ms", arial;
	font-size: 13px;
	color: #999;
	line-height: 20px;
}

.footer_post {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 8px;
	margin-top: 8px;
	border-top: 1px dotted #eee;


}

.footer_post a {
	font-family: tahoma, "Trebuchet Ms", arial;
	font-size: 13px;
	color: #666;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
	float: left;
}

.footer_post a:hover {
	text-decoration: underline;
}

.data_post {
	font-family: tahoma, "Trebuchet Ms", arial;
	font-size: 13px;
	color: #999;
	line-height: 20px;
	font-weight: bold;
	float: right
}

.data_post strong {
	color: #666;
	font-weight: bold;
}